@{
    ViewBag.Title = "CityNotFound";
    Layout = "";
}

<blockquote>
    <p class="text-info"><i class="fa fa-frown-o" aria-hidden="true"></i> Hiç bir veri bulunamadı! <i class="fa fa-frown-o" aria-hidden="true"></i></p>
</blockquote>

